doctype transitional
head
  //if gte mso 9
    xml
      o:officedocumentsettings
        o:allowpng
          o:pixelsperinch 96
  meta(http-equiv='Content-type' content='text/html; charset=utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='format-detection' content='date=no')
  meta(name='format-detection' content='address=no')
  meta(name='format-detection' content='telephone=no')
  meta(name='x-apple-disable-message-reformatting')
  // [if !mso] <!
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i' rel='stylesheet')
  // <![endif]
  title SPECTRE - Absolute Certainty
  //if gte mso 9
    style(type='text/css' media='all').
      sup { font-size: 100% !important; }
  style(type='text/css' media='screen').
    /* Linked Styles */
    body {
    padding: 0 !important;
    margin: 0 !important;
    display: block !important;
    min-width: 100% !important;
    width: 100% !important;
    background: #f4f4f4;
    -webkit-text-size-adjust: none
    }
    a {
    color: #777777;
    text-decoration: none
    }
    p {
    padding: 0 !important;
    margin: 0 !important
    }
    img {
    -ms-interpolation-mode: bicubic;
    /* Allow smoother rendering of resized image in Internet Explorer */
    }
    .mcnPreviewText {
    display: none !important;
    }
    .profile-pic{
    border-radius: 50%;
    }
    /* Mobile styles */
    @media only screen and (max-device-width: 480px),
    only screen and (max-width: 480px) {
    .mobile-shell {
    width: 100% !important;
    min-width: 100% !important;
    }
    .bg {
    background-size: 100% auto !important;
    -webkit-background-size: 100% auto !important;
    }
    .text-header,
    .m-center {
    text-align: center !important;
    }
    .center {
    margin: 0 auto !important;
    }
    .container {
    padding: 20px 10px !important
    }
    .td {
    width: 100% !important;
    min-width: 100% !important;
    }
    .m-br-15 {
    height: 15px !important;
    }
    .p30-15 {
    padding: 30px 15px !important;
    }
    .p0-15-30 {
    padding: 0px 15px 30px 15px !important;
    }
    .p0-15 {
    padding: 0px 15px !important;
    }
    .pt0 {
    padding-top: 0px !important;
    }
    .mpb30 {
    padding-bottom: 30px !important;
    }
    .mpb15 {
    padding-bottom: 15px !important;
    }
    .m-td,
    .m-hide {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    min-height: 0 !important;
    }
    .m-block {
    display: block !important;
    }
    .fluid-img img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    }
    .column,
    .column-dir,
    .column-top,
    .column-empty,
    .column-empty2,
    .column-dir-top {
    float: left !important;
    width: 100% !important;
    display: block !important;
    }
    .column-empty {
    padding-bottom: 30px !important;
    }
    .column-empty2 {
    padding-bottom: 10px !important;
    }
    .content-spacing {
    width: 15px !important;
    }
    }
table(width='100%' border='0' cellspacing='0' cellpadding='0' bgcolor='#f4f4f4')
  tr
    td(align='center' valign='top')
      // Header
      table(width='100%' border='0' cellspacing='0' cellpadding='0')
        tr
          td.p30-15(align='center' style='padding: 30px;')
            table.mobile-shell(width='650' border='0' cellspacing='0' cellpadding='0')
              tr
                td.td(style='width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;')
                  // Header
                  table(width='100%' border='0' cellspacing='0' cellpadding='0')
                    tr
                      th.column(width='145' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;')
                        table(width='100%' border='0' cellspacing='0' cellpadding='0')
                          tr
                            td.img.m-center(style='font-size:0pt; line-height:0pt; text-align:left;')
                              img(src='https://spectreknows.me/imgs/spectre-logo.png' width='' height='64' border='0' alt='')
                      th.column-empty2(width='1' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
                      th.column(style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;')
                        table(width='100%' border='0' cellspacing='0' cellpadding='0')
                          tr
                            td(style="color:#777777; font-family:'Montserrat', Arial,sans-serif; font-size:16px; line-height:30px; text-align:right;")
                              a.link(href=`https://spectreknows.me/postexp?token=${token}` target='_blank' style='color:#777777; text-decoration:none; margin-right: 16px') #{name}
                            td.img(width='50' style='font-size:0pt; line-height:0pt; text-align:right;')                         
                              img.profile-pic(width='64' height='64' border='0' alt='' src=`https://spectreknows.me/profiles/${_id}`)
                  // END Header
                  
      // Intro
      table(width='100%' border='0' cellspacing='0' cellpadding='0' bgcolor='#f4f4f4')
        tr
          td(align='center')
            table.mobile-shell(width='650' border='0' cellspacing='0' cellpadding='0')
              tr
                td.td(style='width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;')
                  table(width='100%' border='0' cellspacing='0' cellpadding='0')
                    tr
                      td.fluid-img(style='border-bottom: 7px solid #00a2ff; font-size:0pt; line-height:0pt; text-align:left;')
                        img(src='https://spectreknows.me/imgs/monolith.jpg' width='650' height='512' border='0' alt='')
                    tr
                      td.bbrr(bgcolor='#f4f4f4' style='border-radius:0px 0px 12px 12px;')
                        table(width='100%' border='0' cellspacing='0' cellpadding='0')
                          tr
                            td.p30-15(style='padding: 50px 30px 60px 30px;')
                              table(width='100%' border='0' cellspacing='0' cellpadding='0')
                                tr
                                  td.h3.center.pb25(style="color:#00a2ff; font-family:'Montserrat', Arial ,sans-serif; font-size:40px; line-height:32px; text-align:center; padding-bottom:25px;") Spectre knows you.
                                tr
                                  td.text-center.pb25(style="color:#777777; font-family:'Montserrat', Arial,sans-serif; font-size:17px; line-height:30px; text-align:center; padding-bottom:25px;")
                                    | Welcome #{name}! Spectre is always excited to welcome new followers...
                                    // especially those that are:
                                tr
                                  td.text-center.pb25(style="color:#777777; font-family:'Montserrat', Arial,sans-serif; font-size:17px; line-height:30px; text-align:center; padding-bottom:25px;")
                                    | Click on the link below to learn the secrets of the Gods of Silicon
                                    | Valley, and to see how Spectre influenced you during your experience...
                                // Button
                                tr
                                  td(align='center')
                                    table.center(border='0' cellspacing='0' cellpadding='0' style='text-align:center;')
                                      tr
                                        td.text-button(style='background:#00a2ff; color:#ffffff; font-family:Arial ,sans-serif; font-size:14px; line-height:18px; padding:12px 20px; text-align:center; text-transform:uppercase;  border-radius:22px;')
                                          a.link-white(target='_blank' style='color:#ffffff; text-decoration:none;' href=`https://spectreknows.me/postexp?token=${token}`)
                                            span.link-white(style='color:#ffffff; text-decoration:none;') Reveal the secrets
                                // END Button
                  // END Intro
      // END Intro
      // Services
      table(width='100%' border='0' cellspacing='0' cellpadding='0' bgcolor='#00a2ff')
        tr
          td.p30-15(align='center' style='padding: 50px 0px;')
            table.mobile-shell(width='650' border='0' cellspacing='0' cellpadding='0')
              tr
                td.td(style='width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;')
                  table(width='100%' border='0' cellspacing='0' cellpadding='0')
                    tr
                      td.h3.white.center(style="padding-bottom: 15px; font-family:'Montserrat', Arial ,sans-serif; font-size:28px; line-height:32px;  color:#ffffff; text-align:center;") Your psychometric profile
                    tr
                      td.text.white.center.pb40(style="font-family:'Montserrat', Arial,sans-serif; font-size:16px; line-height:30px; color:#ffffff; text-align:center; padding-bottom:40px;")
                        | From these FIVE personality traits, marketers believe they can distinguish every human being
                    tr
                      td
                        table(width='100%' border='0' cellspacing='0' cellpadding='0')
                          tr
                            th.column-top(width='216' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
                              table(width='100%' border='0' cellspacing='0' cellpadding='0')
                                tr
                                  td(style='padding: 15px;')
                                    table(width='100%' border='0' cellspacing='0' cellpadding='0')
                                      tr
                                        td.img-center.pb25(style='font-size:0pt; line-height:0pt; text-align:center; padding-bottom:25px;')
                                          img(src='https://spectreknows.me/imgs/1.png' width='136' height='136' border='0' alt='')
                                      tr
                                        td.h4.white.center.pb20(style="font-family:'Montserrat', Arial ,sans-serif; font-size:20px; line-height:28px;  color:#ffffff; text-align:center; padding-bottom:20px;")
                                          | Openness
                                          br
                                          - let openness = Math.round(traits.openness * 100) + '%';
                                          strong #{openness}
                                      tr
                                        td.text-center3.pb25(style="color:#b7e5ff; font-family:'Montserrat', Arial,sans-serif; font-size:14px; line-height:24px; text-align:center; padding-bottom:25px;")
                                          | Openness distinguishes imaginative, creative people from down-to-earth, conventional people.
                            th.column-empty(width='1' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
                            th.column-top(width='216' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
                              table(width='100%' border='0' cellspacing='0' cellpadding='0')
                                tr
                                  td(style='padding: 15px;')
                                    table(width='100%' border='0' cellspacing='0' cellpadding='0')
                                      tr
                                        td.img-center.pb25(style='font-size:0pt; line-height:0pt; text-align:center; padding-bottom:25px;')
                                          img(src='https://spectreknows.me/imgs/2.png' width='136' height='136' border='0' alt='')
                                      tr
                                        td.h4.white.center.pb20(style="font-family:'Montserrat', Arial ,sans-serif; font-size:20px; line-height:28px;  color:#ffffff; text-align:center; padding-bottom:20px;")
                                          | Conscientiousness
                                          br
                                          - let conscientiousness = Math.round(traits.conscientiousness * 100) + '%';
                                          strong #{conscientiousness}
                                      tr
                                        td.text-center3.pb25(style="color:#b7e5ff; font-family:'Montserrat', Arial,sans-serif; font-size:14px; line-height:24px; text-align:center; padding-bottom:25px;")
                                          | Conscientiousness concerns the way in which we control, regulate, and direct our impulses.
                            th.column-empty(width='1' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
                            th.column-top(width='216' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
                              table(width='100%' border='0' cellspacing='0' cellpadding='0')
                                tr
                                  td(style='padding: 15px;')
                                    table(width='100%' border='0' cellspacing='0' cellpadding='0')
                                      tr
                                        td.img-center.pb25(style='font-size:0pt; line-height:0pt; text-align:center; padding-bottom:25px;')
                                          img(src='https://spectreknows.me/imgs/3.png' width='136' height='136' border='0' alt='')
                                      tr
                                        td.h4.white.center.pb20(style="font-family:'Montserrat', Arial ,sans-serif; font-size:20px; line-height:28px;  color:#ffffff; text-align:center; padding-bottom:20px;")
                                          | Extraversion
                                          br
                                          - let extraversion = Math.round(traits.extraversion * 100) + '%';
                                          strong #{extraversion}
                                      tr
                                        td.text-center3.pb25(style="color:#b7e5ff; font-family:'Montserrat', Arial,sans-serif; font-size:14px; line-height:24px; text-align:center; padding-bottom:25px;")
                                          | Extraversion is marked by engagement with the external world, versus being comfortable with your own company.
                    tr
                      td
                        table(width='100%' border='0' cellspacing='0' cellpadding='0')
                          tr
                            th.column-top(width='216' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
                              table(width='100%' border='0' cellspacing='0' cellpadding='0')
                                tr
                                  td(style='padding: 15px;')
                                    table(width='100%' border='0' cellspacing='0' cellpadding='0')
                                      tr
                                        td.img-center.pb25(style='font-size:0pt; line-height:0pt; text-align:center; padding-bottom:25px;')
                                          img(src='https://spectreknows.me/imgs/4.png' width='136' height='136' border='0' alt='')
                                      tr
                                        td.h4.white.center.pb20(style="font-family:'Montserrat', Arial ,sans-serif; font-size:20px; line-height:28px;  color:#ffffff; text-align:center; padding-bottom:20px;")
                                          | Agreeableness
                                          br
                                          - let agreeableness = Math.round(traits.agreeableness * 100) + '%';
                                          strong #{agreeableness}
                                      tr
                                        td.text-center3.pb25(style="color:#b7e5ff; font-family:'Montserrat', Arial,sans-serif; font-size:14px; line-height:24px; text-align:center; padding-bottom:25px;") Differences in concern with cooperation and social harmony.
                            th.column-empty(width='1' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
                            th.column-top(width='216' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
                              table(width='100%' border='0' cellspacing='0' cellpadding='0')
                                tr
                                  td(style='padding: 15px;')
                                    table(width='100%' border='0' cellspacing='0' cellpadding='0')
                                      tr
                                        td.img-center.pb25(style='font-size:0pt; line-height:0pt; text-align:center; padding-bottom:25px;')
                                          img(src='https://spectreknows.me/imgs/5.png' width='136' height='136' border='0' alt='')
                                      tr
                                        td.h4.white.center.pb20(style="font-family:'Montserrat', Arial ,sans-serif; font-size:20px; line-height:28px;  color:#ffffff; text-align:center; padding-bottom:20px;")
                                          | Neuroticism
                                          br
                                          - let neuroticism = Math.round(traits.neuroticism * 100) + '%';
                                          strong #{neuroticism}
                                      tr
                                        td.text-center3.pb25(style="color:#b7e5ff; font-family:'Montserrat', Arial,sans-serif; font-size:14px; line-height:24px; text-align:center; padding-bottom:25px;") Neuroticism refers to the tendency to experience negative emotions.
                            th.column-empty(width='1' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
                            th.column-top(width='216' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
                              table(width='100%' border='0' cellspacing='0' cellpadding='0')
                                tr
                                  td(style='padding: 15px;')
                                    table(width='100%' border='0' cellspacing='0' cellpadding='0')
                                      tr
                                        td.img-center.pb25(style='font-size:0pt; line-height:0pt; text-align:center; padding-bottom:25px;')
                                          img(src='https://spectreknows.me/imgs/help.png' width='136' height='136' border='0' alt='')
                                      tr
                                        td.h4.white.center.pb20(style="font-family:'Montserrat', Arial ,sans-serif; font-size:20px; line-height:28px;  color:#ffffff; text-align:center; padding-bottom:20px;") Expose the secrets
                                      tr
                                        td.text-center3.pb25(style="color:#b7e5ff; font-family:'Montserrat', Arial,sans-serif; font-size:14px; line-height:24px; text-align:center; padding-bottom:25px;") Learn the secrets behind how SPECTRE knows your psychological profile
                                      // Button
                                      tr
                                        td(align='center')
                                          table(border='0' cellspacing='0' cellpadding='0')
                                            tr
                                              td.text-button.white-button(style='font-family:Arial ,sans-serif; font-size:14px; line-height:18px; padding:12px 20px; text-align:center; text-transform:uppercase;  border-radius:22px; background:#ffffff; color:#b7e5ff;')
                                                a.link-blue(href=`https://spectreknows.me/postexp?token=${token}` target='_blank' style='color:#00a2ff; text-decoration:none;')
                                                  span.link-blue(style='color:#00a2ff; text-decoration:none;') Learn More
                                      // END Button
      // END Services
      // Article Image On The Right
      table(width='100%' border='0' cellspacing='0' cellpadding='0' bgcolor='#f4f4f4')
        tr
          td.p30-15(valign='top' align='center' style='padding: 60px 0px 60px 0px;')
            table.mobile-shell(width='650' border='0' cellspacing='0' cellpadding='0')
              tr
                td.td(style='width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;')
                  table(width='100%' border='0' cellspacing='0' cellpadding='0')
                    //- tr
                    //-   td.h3.center.pb15(style="color:#00a2ff; font-family:'Montserrat', Arial ,sans-serif; font-size:24px; line-height:32px;  text-align:center; padding-bottom:15px;") Share your profile
                    //- tr
                    //-   td.text-center.pb30(style="color:#777777; font-family:'Montserrat', Arial,sans-serif; font-size:17px; line-height:30px; text-align:center; padding-bottom:30px;") Share your psychological profile with your friends on Facebook.
                    //- tr
                    //-   td(align='center' style='padding-bottom: 50px;')
                    //-     table(border='0' cellspacing='0' cellpadding='0')
                    //-       tr
                    //-         th.column-top(style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
                    //-           table.center(border='0' cellspacing='0' cellpadding='0' style='text-align:center;')
                    //-             tr
                    //-               td.img(width='50' style='font-size:0pt; line-height:0pt; text-align:left;')
                    //-                 img(src='https://spectreknows.me/imgs/fb-share.png' width='34' height='34' border='0' alt='facebook')
                    //-               td.text-button(style='background:#00a2ff; color:#ffffff; font-family:Arial ,sans-serif; font-size:14px; line-height:18px; padding:12px 20px; text-align:center; text-transform:uppercase;  border-radius:22px;')
                    //-                 a.link-white(href='#' target='_blank' style='color:#ffffff; text-decoration:none;')
                    //-                   span.link-white(style='color:#ffffff; text-decoration:none;') Share your profile
                    tr
                      td.h3.center.pb15(style="color:#EF3050; font-family:'Montserrat', Arial ,sans-serif; font-size:24px; line-height:32px;  text-align:center; padding-bottom:15px;") Are you concerned?
                    tr
                      td.text-center.pb30(style="color:#777777; font-family:'Montserrat', Arial,sans-serif; font-size:17px; line-height:30px; text-align:center; padding-bottom:30px;")
                        | If you feel unsure about making this private information public, you are right to be concerned. 
                        a.link-u(href=`https://spectreknows.me/postexp?token=${token}` target='_blank' style='color:#00a2ff; text-decoration:underline;')
                          span.link-u(style='color:#00a2ff; text-decoration:underline;') Reveal the secrets of the digital influence industry.
                    tr
                      td(align='center' style='padding-bottom: 50px;')
                        table(border='0' cellspacing='0' cellpadding='0')
                          tr
                            th.column-top(style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;')
                              table.center(border='0' cellspacing='0' cellpadding='0' style='text-align:center;')
                                tr
                                  td.text-button(style='background:#EF3050; color:#ffffff; font-family:Arial ,sans-serif; font-size:14px; line-height:18px; padding:12px 20px; text-align:center; text-transform:uppercase;  border-radius:22px;')
                                    a.link-white(href=`https://spectreknows.me/postexp?token=${token}` target='_blank' style='color:#ffffff; text-decoration:none;')
                                      span.link-white(style='color:#ffffff; text-decoration:none;') Why does privacy matter?
      // END Article Image On The Right
      // Footer
      table(width='100%' border='0' cellspacing='0' cellpadding='0' bgcolor='#ffffff')
        tr
          td.p30-15(valign='top' align='center' style='padding: 50px 0px 50px 0px;')
            table.mobile-shell(width='650' border='0' cellspacing='0' cellpadding='0')
              tr
                td.td(style='width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;')
                  table(width='100%' border='0' cellspacing='0' cellpadding='0')
                    tr
                      td.text-footer1.pb10(style="color:#999999; font-family:'Montserrat', Arial,sans-serif; font-size:14px; line-height:20px; text-align:center; padding-bottom:10px;") SPECTRE - Absolute Certainty &copy;2020
                    //- tr
                    //-   td.text-footer2(style="color:#999999; font-family:'Montserrat', Arial,sans-serif; font-size:12px; line-height:26px; text-align:center;")
                    //-     a.link-grey-u(href='#' target='_blank' style='color:#999999; text-decoration:underline;')
                    //-       span.link-grey-u(style='color:#999999; text-decoration:underline;') Unsubscribe
                    //-     |  from this mailing list.
      // END Footer
